Repository JayJay1024/chowchow: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

Format html file
  packages/tailwind-demo/public/index.html
Due: none

Init root project
  package.json
  packages/root/.gitignore
  packages/root/index.html
  packages/root/package.json
  packages/root/public/vite.svg
  packages/root/src/App.css
  packages/root/src/App.tsx
  packages/root/src/assets/react.svg
  packages/root/src/index.css
  packages/root/src/main.tsx
  packages/root/src/vite-env.d.ts
  packages/root/tsconfig.json
  packages/root/tsconfig.node.json
  packages/root/vite.config.ts
  yarn.lock
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

Add tailwind to root project
  packages/root/package.json
  packages/root/postcss.config.cjs
  packages/root/src/index.css
  packages/root/tailwind.config.cjs
Due: stylelint --fix, prettier --write --ignore-unknown

Tailwind demo and root project (#3)
  .stylelintrc.json
  package.json
  packages/root/.gitignore
  packages/root/index.html
  packages/root/package.json
  packages/root/postcss.config.cjs
  packages/root/public/vite.svg
  packages/root/src/App.css
  packages/root/src/App.tsx
  packages/root/src/assets/react.svg
  packages/root/src/index.css
  packages/root/src/main.tsx
  packages/root/src/vite-env.d.ts
  packages/root/tailwind.config.cjs
  packages/root/tsconfig.json
  packages/root/tsconfig.node.json
  packages/root/vite.config.ts
  packages/tailwind-demo/README.md
  packages/tailwind-demo/package.json
  packages/tailwind-demo/postcss.config.js
  packages/tailwind-demo/public/favicon.ico
  packages/tailwind-demo/public/index.html
  packages/tailwind-demo/public/logo192.png
  packages/tailwind-demo/public/logo512.png
  packages/tailwind-demo/public/manifest.json
  packages/tailwind-demo/public/robots.txt
  packages/tailwind-demo/src/App.tsx
  packages/tailwind-demo/src/components/ColorSelect.tsx
  packages/tailwind-demo/src/components/ThemeModeSelect.tsx
  packages/tailwind-demo/src/index.css
  packages/tailwind-demo/src/index.tsx
  packages/tailwind-demo/src/react-app-env.d.ts
  packages/tailwind-demo/src/reportWebVitals.ts
  packages/tailwind-demo/src/setupTests.ts
  packages/tailwind-demo/tailwind.config.js
  packages/tailwind-demo/tsconfig.json
  yarn.lock
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

Update root package build scripts
  .github/workflows/pages-block-sync.yml
  .github/workflows/pages-root.yml
  .github/workflows/pages-tailwind-demo.yml
  package.json
Due: prettier --write --ignore-unknown

Update page action files
  .github/workflows/pages-block-sync.yml
  .github/workflows/pages-root.yml
  .github/workflows/pages-tailwind-demo.yml
Due: none

Update root page
  packages/root/src/App.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Optimize page style
  packages/root/src/App.tsx
  packages/root/src/index.css
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

Deploying to gh-pages from @ JayJay1024/chowchow@d0c317b62a72ad02e4c6ecd4a9bfc1031df9a3a4 🚀
  block-sync/assets/index.9a740187.js
  block-sync/assets/index.edfa12d3.css
  block-sync/favicon.ico
  block-sync/index.html
Due: stylelint --fix, prettier --write --ignore-unknown

Deploying to gh-pages from @ JayJay1024/chowchow@d0c317b62a72ad02e4c6ecd4a9bfc1031df9a3a4 🚀
  assets/index.53803de3.css
  assets/index.70e88e7a.js
  assets/index.9a740187.js
  assets/index.edfa12d3.css
  block-sync/assets/index.9a740187.js
  block-sync/assets/index.edfa12d3.css
  block-sync/favicon.ico
  block-sync/index.html
  favicon.ico
  index.html
  vite.svg
Due: stylelint --fix, prettier --write --ignore-unknown

Deploying to gh-pages from @ JayJay1024/chowchow@9237b009621da0c93e9da50e74992035a51ec616 🚀
  tailwind-demo/asset-manifest.json
  tailwind-demo/favicon.ico
  tailwind-demo/index.html
  tailwind-demo/logo192.png
  tailwind-demo/logo512.png
  tailwind-demo/manifest.json
  tailwind-demo/robots.txt
  tailwind-demo/static/css/main.5aaba62f.css
  tailwind-demo/static/css/main.5aaba62f.css.map
  tailwind-demo/static/js/415.d2c0a34d.chunk.js
  tailwind-demo/static/js/415.d2c0a34d.chunk.js.map
  tailwind-demo/static/js/main.187c3a1b.js
  tailwind-demo/static/js/main.187c3a1b.js.LICENSE.txt
  tailwind-demo/static/js/main.187c3a1b.js.map
Due: stylelint --fix, prettier --write --ignore-unknown

Deploying to gh-pages from @ JayJay1024/chowchow@9237b009621da0c93e9da50e74992035a51ec616 🚀
  block-sync/assets/index.9a740187.js
  block-sync/assets/index.edfa12d3.css
  block-sync/favicon.ico
  block-sync/index.html
Due: stylelint --fix, prettier --write --ignore-unknown

Update project base path or homepage
  packages/block-sync/vite.config.ts
  packages/root/vite.config.ts
  packages/tailwind-demo/package.json
Due: eslint --fix, prettier --write --ignore-unknown

Deploying to gh-pages from @ JayJay1024/chowchow@644d546dfa4ea36f0a227b001abe470e9046e55a 🚀
  block-sync/assets/index.9a740187.js
  block-sync/assets/index.edfa12d3.css
  block-sync/favicon.ico
  block-sync/index.html
  index.html
Due: stylelint --fix, prettier --write --ignore-unknown

Deploying to gh-pages from @ JayJay1024/chowchow@b00ad33980e947a74d7e1890c0fbc9320de02265 🚀
  block-sync/assets/index.9a740187.js
  block-sync/assets/index.edfa12d3.css
  block-sync/favicon.ico
  block-sync/index.html
Due: stylelint --fix, prettier --write --ignore-unknown

Deploying to gh-pages from @ JayJay1024/chowchow@b00ad33980e947a74d7e1890c0fbc9320de02265 🚀
  tailwind-demo/asset-manifest.json
  tailwind-demo/favicon.ico
  tailwind-demo/index.html
  tailwind-demo/logo192.png
  tailwind-demo/logo512.png
  tailwind-demo/manifest.json
  tailwind-demo/robots.txt
  tailwind-demo/static/css/main.5aaba62f.css
  tailwind-demo/static/css/main.5aaba62f.css.map
  tailwind-demo/static/js/415.d2c0a34d.chunk.js
  tailwind-demo/static/js/415.d2c0a34d.chunk.js.map
  tailwind-demo/static/js/main.5545ccba.js
  tailwind-demo/static/js/main.5545ccba.js.LICENSE.txt
  tailwind-demo/static/js/main.5545ccba.js.map
Due: stylelint --fix, prettier --write --ignore-unknown

Update home page path
  packages/root/src/App.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Deploying to gh-pages from @ JayJay1024/chowchow@af96124f9d13725a8a235c5d57c9009d6e3d810b 🚀
  assets/index.903f3650.js
  block-sync/assets/index.9a740187.js
  block-sync/assets/index.edfa12d3.css
  block-sync/favicon.ico
  block-sync/index.html
  index.html
  tailwind-demo/asset-manifest.json
  tailwind-demo/favicon.ico
  tailwind-demo/index.html
  tailwind-demo/logo192.png
  tailwind-demo/logo512.png
  tailwind-demo/manifest.json
  tailwind-demo/robots.txt
  tailwind-demo/static/css/main.5aaba62f.css
  tailwind-demo/static/css/main.5aaba62f.css.map
  tailwind-demo/static/js/415.d2c0a34d.chunk.js
  tailwind-demo/static/js/415.d2c0a34d.chunk.js.map
  tailwind-demo/static/js/main.5545ccba.js
  tailwind-demo/static/js/main.5545ccba.js.LICENSE.txt
  tailwind-demo/static/js/main.5545ccba.js.map
Due: stylelint --fix, prettier --write --ignore-unknown

Deploying to gh-pages from @ JayJay1024/chowchow@ef0b99cb5007fcc7dfe82061975b993c03f02de1 🚀
  block-sync/assets/index.9a740187.js
  block-sync/assets/index.edfa12d3.css
  block-sync/favicon.ico
  block-sync/index.html
Due: stylelint --fix, prettier --write --ignore-unknown

Deploying to gh-pages from @ JayJay1024/chowchow@af96124f9d13725a8a235c5d57c9009d6e3d810b 🚀
  tailwind-demo/asset-manifest.json
  tailwind-demo/favicon.ico
  tailwind-demo/index.html
  tailwind-demo/logo192.png
  tailwind-demo/logo512.png
  tailwind-demo/manifest.json
  tailwind-demo/robots.txt
  tailwind-demo/static/css/main.5aaba62f.css
  tailwind-demo/static/css/main.5aaba62f.css.map
  tailwind-demo/static/js/415.d2c0a34d.chunk.js
  tailwind-demo/static/js/415.d2c0a34d.chunk.js.map
  tailwind-demo/static/js/main.5545ccba.js
  tailwind-demo/static/js/main.5545ccba.js.LICENSE.txt
  tailwind-demo/static/js/main.5545ccba.js.map
Due: stylelint --fix, prettier --write --ignore-unknown

Fix action files paths field
  .github/workflows/pages-block-sync.yml
  .github/workflows/pages-root.yml
  .github/workflows/pages-tailwind-demo.yml
Due: none

Deploying to gh-pages from @ JayJay1024/chowchow@7277ebae54d8c1c09823cd035af9007e39f23830 🚀
  block-sync/assets/index.9a740187.js
  block-sync/assets/index.edfa12d3.css
  block-sync/favicon.ico
  block-sync/index.html
  tailwind-demo/asset-manifest.json
  tailwind-demo/favicon.ico
  tailwind-demo/index.html
  tailwind-demo/logo192.png
  tailwind-demo/logo512.png
  tailwind-demo/manifest.json
  tailwind-demo/robots.txt
  tailwind-demo/static/css/main.5aaba62f.css
  tailwind-demo/static/css/main.5aaba62f.css.map
  tailwind-demo/static/js/415.d2c0a34d.chunk.js
  tailwind-demo/static/js/415.d2c0a34d.chunk.js.map
  tailwind-demo/static/js/main.5545ccba.js
  tailwind-demo/static/js/main.5545ccba.js.LICENSE.txt
  tailwind-demo/static/js/main.5545ccba.js.map
Due: stylelint --fix, prettier --write --ignore-unknown

Deploying to gh-pages from @ JayJay1024/chowchow@7277ebae54d8c1c09823cd035af9007e39f23830 🚀
  tailwind-demo/asset-manifest.json
  tailwind-demo/favicon.ico
  tailwind-demo/index.html
  tailwind-demo/logo192.png
  tailwind-demo/logo512.png
  tailwind-demo/manifest.json
  tailwind-demo/robots.txt
  tailwind-demo/static/css/main.5aaba62f.css
  tailwind-demo/static/css/main.5aaba62f.css.map
  tailwind-demo/static/js/415.d2c0a34d.chunk.js
  tailwind-demo/static/js/415.d2c0a34d.chunk.js.map
  tailwind-demo/static/js/main.5545ccba.js
  tailwind-demo/static/js/main.5545ccba.js.LICENSE.txt
  tailwind-demo/static/js/main.5545ccba.js.map
Due: stylelint --fix, prettier --write --ignore-unknown

Deploying to gh-pages from @ JayJay1024/chowchow@500512be6a500e4e3ba86929ba7b740cc43315e8 🚀
  tailwind-demo/asset-manifest.json
  tailwind-demo/favicon.ico
  tailwind-demo/index.html
  tailwind-demo/logo192.png
  tailwind-demo/logo512.png
  tailwind-demo/manifest.json
  tailwind-demo/robots.txt
  tailwind-demo/static/css/main.5aaba62f.css
  tailwind-demo/static/css/main.5aaba62f.css.map
  tailwind-demo/static/js/415.d2c0a34d.chunk.js
  tailwind-demo/static/js/415.d2c0a34d.chunk.js.map
  tailwind-demo/static/js/main.5545ccba.js
  tailwind-demo/static/js/main.5545ccba.js.LICENSE.txt
  tailwind-demo/static/js/main.5545ccba.js.map
Due: stylelint --fix, prettier --write --ignore-unknown

Root project (#4)
  .github/workflows/pages-block-sync.yml
  .github/workflows/pages-root.yml
  .github/workflows/pages-tailwind-demo.yml
  package.json
  packages/block-sync/vite.config.ts
  packages/root/src/App.tsx
  packages/root/src/index.css
  packages/root/vite.config.ts
  packages/tailwind-demo/package.json
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

Deploying to gh-pages from @ JayJay1024/chowchow@62c06d994efc51adaabc2d647613717aa5cc199f 🚀
  block-sync/assets/index.9a740187.js
  block-sync/assets/index.edfa12d3.css
  block-sync/favicon.ico
  block-sync/index.html
Due: stylelint --fix, prettier --write --ignore-unknown

Deploying to gh-pages from @ JayJay1024/chowchow@62c06d994efc51adaabc2d647613717aa5cc199f 🚀
  tailwind-demo/asset-manifest.json
  tailwind-demo/favicon.ico
  tailwind-demo/index.html
  tailwind-demo/logo192.png
  tailwind-demo/logo512.png
  tailwind-demo/manifest.json
  tailwind-demo/robots.txt
  tailwind-demo/static/css/main.5aaba62f.css
  tailwind-demo/static/css/main.5aaba62f.css.map
  tailwind-demo/static/js/415.d2c0a34d.chunk.js
  tailwind-demo/static/js/415.d2c0a34d.chunk.js.map
  tailwind-demo/static/js/main.5545ccba.js
  tailwind-demo/static/js/main.5545ccba.js.LICENSE.txt
  tailwind-demo/static/js/main.5545ccba.js.map
Due: stylelint --fix, prettier --write --ignore-unknown

Deploying to gh-pages from @ JayJay1024/chowchow@62c06d994efc51adaabc2d647613717aa5cc199f 🚀
  block-sync/assets/index.9a740187.js
  block-sync/assets/index.edfa12d3.css
  block-sync/favicon.ico
  block-sync/index.html
  tailwind-demo/asset-manifest.json
  tailwind-demo/favicon.ico
  tailwind-demo/index.html
  tailwind-demo/logo192.png
  tailwind-demo/logo512.png
  tailwind-demo/manifest.json
  tailwind-demo/robots.txt
  tailwind-demo/static/css/main.5aaba62f.css
  tailwind-demo/static/css/main.5aaba62f.css.map
  tailwind-demo/static/js/415.d2c0a34d.chunk.js
  tailwind-demo/static/js/415.d2c0a34d.chunk.js.map
  tailwind-demo/static/js/main.5545ccba.js
  tailwind-demo/static/js/main.5545ccba.js.LICENSE.txt
  tailwind-demo/static/js/main.5545ccba.js.map
Due: stylelint --fix, prettier --write --ignore-unknown

Add webpack-demo project
  package.json
  packages/webpack-demo/package.json
  packages/webpack-demo/public/index.html
  packages/webpack-demo/src/index.ts
  packages/webpack-demo/tsconfig.json
  packages/webpack-demo/webpack.config.js
  yarn.lock
Due: eslint --fix, prettier --write --ignore-unknown

False clean block-sync deploy
  .github/workflows/pages-block-sync.yml
Due: none

Deploying to gh-pages from @ JayJay1024/chowchow@ecd87daec04478304eb151083e6a5c1bb97fff2e 🚀
  block-sync/assets/index.9a740187.js
  block-sync/assets/index.edfa12d3.css
  block-sync/favicon.ico
  block-sync/index.html
Due: stylelint --fix, prettier --write --ignore-unknown

False clean root deploy
  .github/workflows/pages-root.yml
Due: none

Deploying to gh-pages from @ JayJay1024/chowchow@a7c00f18b177749e2d1254b8cac0ddced34ef288 🚀
  tailwind-demo/asset-manifest.json
  tailwind-demo/favicon.ico
  tailwind-demo/index.html
  tailwind-demo/logo192.png
  tailwind-demo/logo512.png
  tailwind-demo/manifest.json
  tailwind-demo/robots.txt
  tailwind-demo/static/css/main.5aaba62f.css
  tailwind-demo/static/css/main.5aaba62f.css.map
  tailwind-demo/static/js/415.d2c0a34d.chunk.js
  tailwind-demo/static/js/415.d2c0a34d.chunk.js.map
  tailwind-demo/static/js/main.5545ccba.js
  tailwind-demo/static/js/main.5545ccba.js.LICENSE.txt
  tailwind-demo/static/js/main.5545ccba.js.map
Due: stylelint --fix, prettier --write --ignore-unknown

Clean block-sync deploy
  .github/workflows/pages-block-sync.yml
Due: none

Config workflow_dispatch
  .github/workflows/pages-block-sync.yml
  .github/workflows/pages-root.yml
  .github/workflows/pages-tailwind-demo.yml
Due: none

Add rollup-demo
  package.json
  packages/rollup-demo/package.json
  packages/rollup-demo/rollup.config.js
  packages/rollup-demo/src/index.tsx
  packages/rollup-demo/tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write --ignore-unknown

Add rollup-demo (#5)
  package.json
  packages/rollup-demo/package.json
  packages/rollup-demo/rollup.config.js
  packages/rollup-demo/src/index.tsx
  packages/rollup-demo/tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write --ignore-unknown

Webpack some loaders config
  packages/webpack-demo/package.json
  packages/webpack-demo/public/index.html
  packages/webpack-demo/src/App.tsx
  packages/webpack-demo/src/index.css
  packages/webpack-demo/src/index.ts
  packages/webpack-demo/src/index.tsx
  packages/webpack-demo/tsconfig.json
  packages/webpack-demo/webpack.config.js
  yarn.lock
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

Multi entry and devtool and html plugin
  packages/webpack-demo/package.json
  packages/webpack-demo/public/index.html
  packages/webpack-demo/src/App.tsx
  packages/webpack-demo/src/print.ts
  packages/webpack-demo/webpack.config.js
Due: eslint --fix, prettier --write --ignore-unknown

Path conditions:
  eslint --fix: any of: packages/**/*.{js,jsx,ts,tsx}
  stylelint --fix: any of: **/*.{css,less,scss}
  prettier --write --ignore-unknown: any of: **/*.{js,jsx,ts,tsx,json,md}
