Repository JayJay1024/chowchow: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

.lintstagedrc.json:

{
  "packages/**/*.{js,jsx,ts,tsx}": "eslint --fix",
  "**/*.{css,less,scss}": "stylelint --fix",
  "**/*.{js,jsx,ts,tsx,json,md}": "prettier --write --ignore-unknown"
}

Dev serve
  package.json
  packages/webpack-demo/package.json
  packages/webpack-demo/webpack.config.js
  yarn.lock
Due: eslint --fix, prettier --write --ignore-unknown

Custom template html file
  packages/webpack-demo/public/index.html
  packages/webpack-demo/webpack.config.js
Due: eslint --fix, prettier --write --ignore-unknown

Webpack dev (#6)
  package.json
  packages/webpack-demo/package.json
  packages/webpack-demo/public/index.html
  packages/webpack-demo/src/App.tsx
  packages/webpack-demo/src/index.css
  packages/webpack-demo/src/index.ts
  packages/webpack-demo/src/index.tsx
  packages/webpack-demo/src/print.ts
  packages/webpack-demo/tsconfig.json
  packages/webpack-demo/webpack.config.js
  yarn.lock
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/custom.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: prettier --write --ignore-unknown

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
Due: prettier --write --ignore-unknown

Config issue template
  .github/ISSUE_TEMPLATE/config.yml
Due: none

Bug report form
  .github/ISSUE_TEMPLATE/FORM-NAME.yml
Due: none

Enabled blank issues
  .github/ISSUE_TEMPLATE/config.yml
Due: none

Update issue form template
  .github/ISSUE_TEMPLATE/FORM-NAME.yml
Due: none
