Repository JayJay1024/chowchow: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

.lintstagedrc.json:

{
  "packages/**/*.{js,jsx,ts,tsx}": "eslint --fix",
  "**/*.{css,less,scss}": "stylelint --fix",
  "**/*.{js,jsx,ts,tsx,json,md}": "prettier --write --ignore-unknown"
}

Setup eslint
  .eslintignore
  .eslintrc.json
  .lintstagedrc.json
  package.json
  yarn.lock
Due: prettier --write --ignore-unknown

Types and config
  packages/block-sync/src/config/index.ts
  packages/block-sync/src/types/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

Turn off react in jsx scope eslint
  .eslintrc.json
Due: prettier --write --ignore-unknown

Beta
  packages/block-sync/package.json
  packages/block-sync/src/App.tsx
  packages/block-sync/src/components/Card.tsx
  packages/block-sync/src/components/GqlComsumer.tsx
  packages/block-sync/src/components/GqlProvider.tsx
  packages/block-sync/src/config/chain.ts
  packages/block-sync/src/config/constant.ts
  packages/block-sync/src/config/gql.ts
  packages/block-sync/src/config/index.ts
  packages/block-sync/src/pages/home.tsx
  yarn.lock
Due: eslint --fix, prettier --write --ignore-unknown

Config vite base
  packages/block-sync/vite.config.ts
Due: eslint --fix, prettier --write --ignore-unknown

Add build:block-sync script
  package.json
Due: prettier --write --ignore-unknown

Setup gh-pages actions
  .github/workflows/gh-pages.yml
Due: none

Pull request to main also trigger gh-pages
  .github/workflows/gh-pages.yml
Due: none

Deploying to gh-pages from @ JayJay1024/chowchow@2418a26bcb8ba662aa84e996f5ce020b136b9fc2 🚀
  assets/index.27c4ae99.js
  assets/index.b7a6a47f.css
  favicon.ico
  index.html
Due: stylelint --fix, prettier --write --ignore-unknown

Fix vite base config
  packages/block-sync/vite.config.ts
Due: eslint --fix, prettier --write --ignore-unknown

Deploying to gh-pages from @ JayJay1024/chowchow@a3035cd45ba32696e4a702b45ba114bdc7ac4f0f 🚀
  index.html
Due: none

Update github page target folder
  .github/workflows/gh-pages.yml
  packages/block-sync/vite.config.ts
Due: eslint --fix, prettier --write --ignore-unknown

Deploying to gh-pages from @ JayJay1024/chowchow@18f158aaea78f07f700edbd07f3cd186a7a707ce 🚀
  block-sync/assets/index.27c4ae99.js
  block-sync/assets/index.b7a6a47f.css
  block-sync/favicon.ico
  block-sync/index.html
Due: stylelint --fix, prettier --write --ignore-unknown

Clean deploy before deploy
  .github/workflows/gh-pages.yml
Due: none

Update long duration constant
  packages/block-sync/src/config/constant.ts
Due: eslint --fix, prettier --write --ignore-unknown

Deploying to gh-pages from @ JayJay1024/chowchow@7b9a4bb45a6f788965c4980e0da7cac68e943b65 🚀
  block-sync/assets/index.c3349ac9.js
  block-sync/index.html
Due: prettier --write --ignore-unknown

Update code comment
  packages/block-sync/src/config/constant.ts
Due: eslint --fix, prettier --write --ignore-unknown

Update deploy target folder
  .github/workflows/gh-pages.yml
  packages/block-sync/vite.config.ts
Due: eslint --fix, prettier --write --ignore-unknown

Does not poll interval
  packages/block-sync/src/components/GqlComsumer.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Deploying to gh-pages from @ JayJay1024/chowchow@1bbebc747593ce959dcfba236b8c5952e933eded 🚀
  assets/index.27c4ae99.js
  assets/index.c024b9bc.js
  block-sync/assets/index.b7a6a47f.css
  block-sync/favicon.ico
  block-sync/index.html
  index.html
Due: stylelint --fix, prettier --write --ignore-unknown

Block sync project (#1)
  .eslintignore
  .eslintrc.json
  .github/workflows/gh-pages.yml
  .lintstagedrc.json
  .stylelintrc.json
  package.json
  packages/block-sync/package.json
  packages/block-sync/postcss.config.cjs
  packages/block-sync/src/App.tsx
  packages/block-sync/src/components/Card.tsx
  packages/block-sync/src/components/GqlComsumer.tsx
  packages/block-sync/src/components/GqlProvider.tsx
  packages/block-sync/src/config/chain.ts
  packages/block-sync/src/config/constant.ts
  packages/block-sync/src/config/gql.ts
  packages/block-sync/src/config/index.ts
  packages/block-sync/src/index.css
  packages/block-sync/src/pages/home.tsx
  packages/block-sync/src/types/index.ts
  packages/block-sync/tailwind.config.cjs
  packages/block-sync/vite.config.ts
  yarn.lock
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

Handle refetch
  packages/block-sync/src/components/GqlComsumer.tsx
  packages/block-sync/src/components/GqlProvider.tsx
  packages/block-sync/src/pages/home.tsx
  packages/block-sync/src/types/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

Update lint ignore file
  .prettierignore
  .stylelintignore
Due: none

Add refresh button
  packages/block-sync/src/pages/home.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Deploying to gh-pages from @ JayJay1024/chowchow@a71a456b1da0324bca73e9247ef6f6890a4a6cc3 🚀
  assets/index.1545ee1a.css
  assets/index.639282b4.js
  assets/index.b7a6a47f.css
  assets/index.c024b9bc.js
  index.html
Due: stylelint --fix, prettier --write --ignore-unknown

Support refresh (#2)
  .prettierignore
  .stylelintignore
  packages/block-sync/src/components/GqlComsumer.tsx
  packages/block-sync/src/components/GqlProvider.tsx
  packages/block-sync/src/pages/home.tsx
  packages/block-sync/src/types/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

Ignore vscode files
  .gitignore
  .prettierignore
Due: none

Update block-sync mobile page padding top
  packages/block-sync/src/pages/home.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Deploying to gh-pages from @ JayJay1024/chowchow@7d91beafd3640ea37124cf6089ef738f4319ab75 🚀
  assets/index.1545ee1a.css
  assets/index.9a740187.js
  assets/index.edfa12d3.css
  index.html
Due: stylelint --fix, prettier --write --ignore-unknown

Refactor ignore content
  .eslintignore
  .gitignore
  .prettierignore
  .stylelintignore
  packages/block-sync/.gitignore
Due: none

Init tailwind-demo project
  packages/tailwind-demo/README.md
  packages/tailwind-demo/package.json
  packages/tailwind-demo/public/favicon.ico
  packages/tailwind-demo/public/index.html
  packages/tailwind-demo/public/logo192.png
  packages/tailwind-demo/public/logo512.png
  packages/tailwind-demo/public/manifest.json
  packages/tailwind-demo/public/robots.txt
  packages/tailwind-demo/src/App.tsx
  packages/tailwind-demo/src/index.css
  packages/tailwind-demo/src/index.tsx
  packages/tailwind-demo/src/react-app-env.d.ts
  packages/tailwind-demo/src/reportWebVitals.ts
  packages/tailwind-demo/src/setupTests.ts
  packages/tailwind-demo/tsconfig.json
  yarn.lock
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

Setup tailwind css
  .stylelintrc.json
  packages/tailwind-demo/package.json
  packages/tailwind-demo/postcss.config.js
  packages/tailwind-demo/src/App.tsx
  packages/tailwind-demo/src/index.css
  packages/tailwind-demo/tailwind.config.js
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

Config dev script
  package.json
  packages/tailwind-demo/package.json
Due: prettier --write --ignore-unknown

Theme mode select
  packages/tailwind-demo/public/index.html
  packages/tailwind-demo/src/App.tsx
  packages/tailwind-demo/src/components/ThemeModeSelect.tsx
  packages/tailwind-demo/src/index.css
  packages/tailwind-demo/tailwind.config.js
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

Color select
  packages/tailwind-demo/src/App.tsx
  packages/tailwind-demo/src/components/ColorSelect.tsx
Due: eslint --fix, prettier --write --ignore-unknown

CSS variable
  packages/tailwind-demo/src/App.tsx
  packages/tailwind-demo/src/index.css
  packages/tailwind-demo/tailwind.config.js
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

Change CSS variable in js
  packages/tailwind-demo/src/App.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Fix no change in theme mode when select system
  packages/tailwind-demo/src/components/ThemeModeSelect.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Fix only system mode should handle system theme change
  packages/tailwind-demo/public/index.html
Due: none
